* {
  margin: 0;
  background: #222629;
  color: white;
  font-family: "Barlow", sans-serif;
}

header {
  margin: 1.5rem 0;
}

h1,
h2 {
  color: #86c232;
  text-align: center;
  font-weight: 700;
  margin: 0 auto;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.article {
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.5em;
  margin: 0.5em auto;
  background: #474b4f;
  width: 85%;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  background: inherit;
  padding: 0.25em 0;
}

h3,
p {
  background: inherit;
}

p {
  font-weight: 200;
}

.button-wrapper {
  display: flex;
  align-items: center;
  margin: 0.75rem;
}

button {
  border: 1px solid black;
  font-weight: 400;
  font-size: 1.125em;
  padding: 0.75rem 2.25rem;
  margin: 0 auto;
  background: #474b4f;
  border-radius: 50px;
  transition: 0.3s;
}

button:hover,
button:focus {
  background: #86c232;
  color: #222629;
}

button:active {
  background: #474b4f;
  color: inherit;
}

a {
  text-decoration: none;
  background: inherit;
  transition: 0.3s;
}

a:hover,
a:focus {
  color: #86c232;
}

a:active {
  color: white;
}

.error {
  border: 1px solid black;
  background: #474b4f;
  color: white;
  margin: 2rem auto;
  padding: 1.5rem;
  width: 40%;
  text-align: center;
  border-radius: 10px;
}

.hidden {
  display: none;
}

@media screen and (max-width: 500px) {
  .container {
    display: inline;
  }

  .author {
    padding: 0.5rem 0;
  }
}

@media screen and (min-width: 900px) {
  .article {
    width: 75%;
  }
}

@media screen and (max-width: 590px) {
  .error {
    width: 55%;
  }
}
